################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DebounceThrottle/bin/Debug
/DebounceThrottle/obj
/DebounceThrottle/bin/Release/netstandard2.0
