################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DebouneThrottle/bin/Debug
/DebouneThrottle/obj
/DebouneThrottle/bin/Release/netstandard2.0
