################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DebounceThrottle/bin/Debug
/DebounceThrottle/obj
/DebounceThrottle/bin/Release/netstandard2.0
/Demo/DebounceDemo/bin
/Demo/DebounceDemo/obj
/Demo/ThrottleDemo/bin
/Demo/ThrottleDemo/obj
